*{
	margin: 0;
}
body{
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s5-jir-8784-kwan-01_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=fc0a4003710e323524343e4d684aa963);
background-size: cover;
background-repeat: no-repeat;
}
header{
	height: 150px;
	background-color: lightblue;

}
#menu{
	width: 20%;
	float: left;
 

}
#content{	
  width: 80%;

	
	float: left;
}

footer{
	height: 100px;
  background-color: #AD6DC1;
  background-image: url();

	clear: both;
}
 h1, h2{
  font-family: 'Marck Script', cursive;
	text-align: center;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 37px;
}
.button-56 {
  align-items: center;
  background-color: #E1C2E6;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 20px;
  margin-top: 20px;
  width: 80%;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
 
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
a{
  text-decoration: none;
}
.video{
  text-align: right;
}
.bgrvideo{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
align-items: center;
}
.bgrvideo video{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
  object-fit: cover;
  z-index: 1;
}
.textvideo{
  z-index: 2;
  color: white;

}
.me{
 margin-top: 40px;
 margin-right: 10px;
  float: right;
  
}
.aboutme{
    width: 54%;
  float: left;
 font-size: 20px;
 text-align: justify;
 font-family: 'Gabriela', serif;
 margin-top: 40px;

}
p{
  text-indent: 27px;
}