body{
	background-color: #F4DED3;
}p{
	font-size: 50px;
	color: green;
	text-align: center;
}
table{
	border: double 5px black;
	width: 50%;
	background: linear-gradient(#C6F6F7, #CFF7C6);
border-collapse: collapse;
margin: auto;
}
th, td{
	border: solid 2px grey;
	width: 25%;
	height: 1cm;
	font-size: 24px;
}
tr:hover{
	background-color: lightgrey;
}
td:hover{
	background: white;
color: maroon;
font-size: 2em;
text-align: center;
}
tr:nth-child(even){
	background-color: lightgrey;
}
.first{
	background-color: #0f0;
	color: #0f0;
}
.first:hover{
	background-color: white;
}
caption{
	font-size: 50px;
	color: magenta;
}
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10px;
  margin-top: 10px;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
a{
  text-decoration: none;
}